
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">      
        <a class="navbar-brand" href="/app/trekking/list">Trekkings</a>
        

        {% if user.is_authenticated and user.is_staff %}
        <a class="navbar-brand" href="/app/create_trekking">Create Trekking</a>
        {% endif %}
        <a class="navbar-brand" href="/app/about_me">About me</a>
        {% if user.is_authenticated %}
        <h5>User: {{ user.get_username }}</h5>
        {% if user.avatar and user.avatar.imagen %}
            <img style="height: 60px" src="{{ user.avatar.imagen.url }}" alt="">
            {% else %}
                <p>No hay avatar disponible</p>
            {% endif %}
        <a class="navbar-brand" href="{% url 'MyAccount' user.id %}" >My account</a>
        <a class="btn btn-primary" href="{% url 'logout'%}">Logout</a>
        {% else %}

        <a class="navbar-brand" href="/accounts/register">Sign Up</a>
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</nav>
