<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body class="login-page">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    
    <div class="container1">
        <div class="login-box1">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Iniciar sesion" class="submit-button1">
                <a class="submit-button1" href="{% url 'createAccount'%}">Sing Up</a>
            </form>
        </div>
    </div>
</body>
</html>