{% extends 'base.html' %}

{% block cambio %}

<div class="container2">
    <div class="content-section2">
        <h2> {{trekking.title}}</h2>
        <p><b>City:</b> {{trekking.city}}</p>
        <p><b>Difficulty:</b> {{trekking.difficulty}}</p>
        <p><b>Duration:</b> {{trekking.difficulty}}</p>
        <p><b>Description:</b> {{trekking.content}}</p>
        <p><b>Post date:</b> {{trekking.date}}</p>

        {% if user.is_authenticated %}
            <form action="{% url 'TrekkingComment' %}" method="post"> 
                {% csrf_token %}
                <input type="text" name="content">
                <input type="hidden" name="trekking" value="{{trekking.id}}">
                <input type="submit" class="btn btn-primary" value="Comment">
            </form>
            <p>
                <br>
                <a class="btn btn-primary" href="{% url 'TrekkingList'%}">Back</a>
                {% if user.is_authenticated and user.is_staff %}
                <a class="btn btn-primary" href="{% url 'EditTrekking' trekking.id %}">Edit image</a>
                {% endif %}
                
            </p>

        {% endif %}
    </div>
    <div class="image-section2">
    <img src="{{trekking.avatar_trekking.url}}" alt="" style="height: 400px">
    </div>
</div>

{% for comment in trekking.comments.all %}
        <h2>{{comment.content}}</h2>
        <p class="lead mb-0">
             Commented by: {{comment.usuario.username}}
        </p>
        <p class="lead mb-0">
            date:{{comment.creation_date}}
        </p>
        <hr>
{% endfor %}

{% endblock %}